body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  border-radius: 20px;
  margin-top: 1rem;
  width: 97%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  background-color: white;
  padding: 8px;
}

footer {
  color: white;
  font-family: sans-serif;
}

.level {
  display: inline;
}

.head {
  font-family: "Press Start 2P";
  color: black;
  text-align: center;
}

.container {
  display: grid;
  grid-template: 150px 40px 150px / 150px 70px 150px;
  gap: 1rem;
  margin-top: 3rem;
  flex: 1;
}

.tile {
  border-radius: 2rem;
  border: 0.3rem solid white;
}

.btn {
  grid-column-start: 2;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: 900;
  border: none;
}

.btn:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
  grid-column-start: 3;
}

.yellow {
  background-color: yellow;
  grid-row-start: 3;
}

.blue {
  background-color: blue;
  grid-row-start: 3;
  grid-column-start: 3;
}

.flasher {
  box-shadow: 0 0 50px white;
  transform: scale(0.95);
}
